/* HEADER SECTION */
#navbarNav{padding-left: 5%;}

.nav-link {
  font-size:larger;
  position: relative;
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
}

.nav-link::after {
  opacity: 0;
  transition: all 0.2s;
  content: "";
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  }
  .nav-linkStyle {
    text-decoration: none;
    font-size:larger;
    position: relative;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
  }
.nav-link:hover {
  text-decoration: none !important;
}

.nav-link:active{opacity: 0.5;}
.navBarColor{background-color: #036384; padding-left: 10%;}
.submit-link{text-decoration: none; color: black;}
/* HEADER SECTION END */
.footerBgColor{background-color: #036384;}
.footerAllPage {
  align-items: last baseline;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

 Blog Page Section starts here
*/
hr.hrLines {
  border: 5px solid green;
  border-radius: 5px;
}

/* Blog section styling ends here */


/* Sales management section here*/

/* sales management section ends here */


/*  Reposive table start here*/
.table-container{overflow-x:auto};

/*  Reposive table ends here */
/*  Footer mobile responsive section starts here */
@media (max-width: 400px) and (min-width: 300px) {  
  .footerNavMobileRes {
    flex-direction: row !important;
  }
}

@media (max-width: 797px) and (min-width: 300px) {
  .footerNavMobileRes {flex-wrap: wrap !important;
  }
}

@media (max-width: 800px) {
  .footercContainerMobileRes {
    flex-direction: column;
    text-align: center !important;
  }
}

/*  Footer mobile responsive section ends here */
/* ------Body Media query starts here---------*/
 @media (max-width: 400px) {
  .features-responses {
      flex-direction: column !important;
  }
}

@media (max-width: 500px) and (min-width: 401px) {
  .features-responses {
    flex-direction: column !important;
    
  }
}

@media (max-width: 768px) and (min-width: 501px) {
  .features-responses {
    flex-direction: row !important;
  }
}
/* ---------About Us Media query----------*/
@media (max-width: 750px) {
  .about-responses{ flex-direction: column !important
      /* flex-direction: column; justify-content: center !important; */
  }
}

/* main page body starts here*/

@media (max-width: 500px) and (min-width: 300px) {  
  .index-brochure{
    width: 100% !important;
  }
}

/* main page body ends here*/

